<div class="modal fade" id="modal-detalhe" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="modal-detalhe-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
             function abreModalDetalhe(titulo) {
                 $('#modal-detalhe .modal-title').text(titulo);
                 $('#modal-detalhe').modal('show');
             }
         </script>
        );
}